{% extends 'layout.html' %}


{% block content %}

<div class="container">
    <div class="form-box">
        <h2><i class="fa-solid fa-user-group fa-1x"></i> New Learner Registration</h2>
        <p>Let's create your account</p>
        <div  class="nav nav-tabs form-btns" id="nav-tab" role="tablist">
            <button class=" Btns nav-link active" id="nav-personal-Details-tab" data-bs-toggle="tab" data-bs-target="#nav-personal" type="button" role="tab" aria-controls="nav-personal-Details" aria-selected="true">Personal Details</button>
            <button class=" Btns nav-link" id="nav-Acadamic-Details-tab" data-bs-toggle="tab" data-bs-target="#nav-Acadamic" type="button" role="tab" aria-controls="nav-Acadamic-Details" aria-selected="true">Academic Details</button>
            <button class=" Btns nav-link" id="nav-Social-Handles-tab" data-bs-toggle="tab" data-bs-target="#nav-social" type="button" role="tab" aria-controls="nav-Social-Handles" aria-selected="true">Social Handles</button>
            <button class=" Btns nav-link" id="nav-Work-Experience-tab" data-bs-toggle="tab" data-bs-target="#nav-Work" type="button" role="tab" aria-controls="nav-Work-Experience" aria-selected="true">Work Experience</button>
            <button class=" Btns nav-link" id="nav-Work-submit-tab" data-bs-toggle="tab" data-bs-target="#nav-submit" type="button" role="tab" aria-controls="nav-submit" aria-selected="true">Preview</button>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-personal" role="tabpanel" aria-labelledby="nav-personal-Details-tab">
                <div class="form-content">
                    <form method="POST" action="{% url 'index' %}" >
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label class="form-label">First Name<span>*</span></label>
                                <input type="text"class="form-control" name="firstName" id="Fname" placeholder="Enter your First Name">
                            </div>
    
                            <div class="col-sm-12 col-md-6">
                                <label class="form-label">Last Name<span>*</span></label>
                                <input type="text"class="form-control" name="lastName" id="Lname" placeholder="Enter your last Name">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6 col-sm-12">
                                <label class="form-label">Email<span>*</span></label>
                                <input type="email" name="email" id="Email" placeholder="Enter your Email" class="form-control">
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label class="form-label">Profile Photo<span>*</span></label>
                                <input type="file" class="form-control" name="profilephoto" id="">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 col-sm-12">
                                <label class="form-label">A Short Bio<span>*</span></label>
                                <textarea name="Bio" id="textarea-Bio"class="form-control" placeholder="A short Bio (not more than 30 words)" ></textarea>
    
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12 col-sm-12">
                                <label class="form-label">Tags<span>*</span></label>
                                <textarea  name="Tag" id="textarea-Tag"class="form-control" placeholder="Eg: Data Science"></textarea>
                            </div>
                        </div><br>
                        <div class="bt">
                        <button type="button" class="btn btn-primary"  style="float:right" onclick="changetab()">Next</button>
                        </div>
                        <!-- <div  class="nav nav-tabs form-btns" id="nav-tab" role="tablist"></div>
                        <button class=" btn btn-primary Btns nav-link" id="nav-Acadamic-Details-tab" data-bs-toggle="tab" data-bs-target="#nav-Acadamic" type="button" role="tab" aria-controls="nav-Acadamic-Details" aria-selected="true" type="button">Acadamic Details</button>
                    </div> -->
                   
    
                </div>
            </div>
    
    
    
    <!-- Ace -->
    
    
                <div class="tab-pane fade" id="nav-Acadamic" role="tabpanel" aria-labelledby="nav-Acadamic-Details-tab">
                    <div class="form-content">
                       
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label">School Name<span>*</span></label>
                                    <input type="text"class="form-control" name="school" id="school" placeholder="school name">
                                </div>
    
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label">Board<span>*</span></label>
                                    <input type="text"class="form-control" name="school-Board" id="Board" placeholder="Ex:SSC,CBSE">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-sm-12">
                                    <label class="form-label">Graduation<span>*</span></label>
                                    <input type="text" name="Graduation" id="Graduation" placeholder="Ex:B-tech,BSC" class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label">Graduation University<span>*</span></label>
                                    <input type="text" name="GradUniversity" id="Graduation-university" placeholder="College Name" class="form-control">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label">Post Graduation<span>*</span></label>
                                    <input type="text" name="PostGraduation"  id="postgrad" placeholder="Ex:M-tech,MSC" class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label">Post Graduation University<span>*</span></label>
                                    <input type="text" name="postGradUniversity" id="postUniversity" placeholder="college Name" class="form-control">
                                </div>
                            </div><br>
                            <button type="button" class="btn btn-primary" onclick="previoustab()">Previous</button>
                            <button type="button" class="btn btn-primary" style="float:right" onclick="nexttab()">Next</button>
                        
                    </div>
                </div>
    
                <!-- social handles -->
    
    
                <div class="tab-pane fade" id="nav-social" role="tabpanel" aria-labelledby="nav-Social-Handles-tab">
                    <div class="form-content">
                       
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label">Linkedin<span>*</span></label>
                                    <input type="text"class="form-control" name="Linkedin" id="Linkedin" placeholder="Linkedin ID">
                                </div>
    
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label">Github<span>*</span></label>
                                    <input type="text"class="form-control" name="Github" id="Git" placeholder="Github ID">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-sm-12">
                                    <label class="form-label">Instagram<span>*</span></label>
                                    <input type="text" name="Instagram" id="Insta" placeholder="Instagram ID" class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label">Facebook<span>*</span></label>
                                    <input type="text" name="Facebook" id="FB" placeholder="Facebook ID" class="form-control">
                                </div>
                            </div><br>
                            <button type="button" class="btn btn-primary" onclick="previoustab1()">Previous</button>
                            <button type="button" class="btn btn-primary" style="float:right" onclick="nexttab1()">Next</button>     
                        
                    </div>
                </div>
    
                <!-- Work Experiance -->
                <div class="tab-pane fade" id="nav-Work" role="tabpanel" aria-labelledby="nav-Work-Experience-tab">
                    <div class="form-content" id="exp">
                        
                            <h3 class="pt-3">Work Experience 1</h3>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label">Position<span>*</span></label>
                                    <input type="text" class="form-control" name="Position" id="position0"  placeholder="Job role">
                                </div>
    
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label">Organization<span>*</span></label>
                                    <input type="text" class="form-control" name="Organization" id="organization0" placeholder="Company">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-6 col-sm-12">
                                    <label class="form-label">From<span>*</span></label>
                                    <input type="date" name="From" id="from0" class="form-control">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label class="form-label">To<span>*</span></label>
                                    <input type="date" name="to" id="to0" class="form-control">
                                </div>
                            </div>
                            
                            
                            
                           
                       
                        <div class="row mt-3 mr-3">
                            <div class="col-sm-12" >
                                <button type="button" class="btn btn-light" id="btn1" onclick="developeblock()">Add Block</button>
                                <button type="button" class="btn btn-light" id="btn1" onclick="removeblock()">Remove Block</button>
                            </div>
                        </div><br>
                        
                    </div>
                    <button type="button" class="btn btn-primary mr-4" onclick="previoustab2()">Previous</button>
                    <button type="button" class="btn btn-primary mr-4" style="float:right" onclick="nexttab2()">Next</button>
                </div>
    
    
                <!-- Submit -->
                <div class="tab-pane fade" id="nav-submit" role="tabpanel" aria-labelledby="nav-submit-tab">
                    <div class="row" id="preview">    
                    </div><br>
                    <button type="button" class="btn btn-primary btn-md d-flex ms-auto mb-2" style="float:left" onclick="previoustab3()">Previous</button>
                    <input type="submit" class="btn btn-primary btn-md d-flex ms-auto" value="submit"></input>
                </div>
            </form>
    
        </div>
    </div>
    </div>

{% endblock %}