{% extends 'baseLayout.html' %}
{% block content %}
<!-- tets -->
    <div class="container mt-5" id="box">
        <div id="register">
            <form method="POST" action="{% url 'index' %}" >
                {% csrf_token %}
                <div class="row py-4">
                    <h3>Registration</h3>
                        <div class="col-sm-6">
                            <label for="FirstName" class="form-label">FirstName</label>
                            <input type="text" name="FirstName"   class="form-control FirstName"  placeholder="Enter your FirstName">
                            <span id="span_first" class="span"></span>
                        </div>
                        <div class="col-sm-6">
                            <label for="LastName" class="form-label">LastName</label>
                            <input type="text" name="LastName"  class="form-control success LastName" placeholder="Enter your LastName">
                            <span id="span_last" class="span"></span>
                        </div>
                        <div class="col-sm-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email"  class="form-control Email" placeholder="Enter your email">
                            <span id="Email_span" class="span"></span>
                        </div>
                        <div class="col-sm-6">
                            <label for="Username" class="form-label">Username</label>
                            <input type="Username" name="Username"  class="form-control Username" placeholder="Enter your Username">
                            <span id="Username_span" class="span"></span>
                        </div>
                        
                        <div class="col-sm-6">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password"  class="form-control Password" placeholder="Enter your Password">
                            <span id="Password_span" class="span"></span>
                        </div>
                        <div class="col-sm-6">
                            <label for="password2" class="form-label">Confrim Password</label>
                            <input type="password" name="password2"  class="form-control Confrim_Password" placeholder="retype your password">
                            <span id="Confrim_Password_span" class="span"></span>
                        </div>
                        <div class="col-sm-6">
                            <label for="Birthday_date" class="form-label">Date of birth</label>
                            <input type="date" name="Birthday_date"  class="form-control Birthday_date" placeholder="retype your password">
                            <span id="Birthday_date_span" class="span"></span>
                        </div>
                        <div class="col-sm-6">
                            <label for="phone" class="form-label">phone</label>
                            <input type="number" name="phone" class="form-control phone" placeholder="Phone number">
                            <span id="phone_span" class="span"></span>
                        </div>
                        
                        <div class="col-sm-4 pt-3 d-flex">

                            <button type="submit" class="btn btn-danger btn-block" id="Register">
                               Register
                            </button>
                        </div>
                </div>
            </form>
        </div>
            <div id="login">
                <form  method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                        <div class="row">
                                <h3>Login</h3>
                                <div class="col-sm-6">
                                    <label for="Username" class="form-label">Username</label>
                                    <input type="text" name="Username" id="Login_Username" class="form-control" placeholder="Enter your Username"> 
                                </div>
                                <div class="col-sm-6">
                                    <label for="passowrd" class="form-label">Password</label>
                                    <input type="password" name="password" id="Login_password" class="form-control" placeholder="Enter your password">
                                </div>
                                <div class="col-sm-12 py-4">
                                    <button class="btn btn-danger btn-block">Login</button>
                                </div>       
                        </div>
                    </form>
                </div>
</div>


{% endblock %}